
nav{
  
  background-color:RGB(0,255,205);
}
body{
  background-image:url('space2.png');
 
}
h1{
  font-size: 3rem;border-style: solid;
    border-width: 5px;width:500px;border-left-width:0ex;
 border-right-width:0ex;
  border-color:white;font-size: 3rem;color:white;
}
img{
  border-radius:70%;width:170px;height:170px;
}
button{
  margin-left:180px;
  background-color:RGB(204,204,0);
  padding:15px;
  border-radius:30px;
  border-color:cyan;
  ;
}
